.carousel-item {
    height: 40vh;
    object-fit: cover;
}

.banner {
    height: 100%;
    object-fit: cover;
}

.cohort{
    height: 30vh;
}

.iconred {
    width: 40px; /* Tamaño deseado */
    height: auto; /* Altura automática para mantener la proporción */
  }