.carousel-item {
    height: 40vh;
    object-fit: cover;
}

.banner {
    height: 100%;
    object-fit: cover;
}

.cohort{
    height: 30vh;
    margin-top: auto;
}

.iconred {
    width: 40px; 
    height: auto; 
}


.sombra {

    box-shadow:0 4px 8px rgba(0, 0, 0, 0.829), 0 6px 15px rgba(80, 19, 161, 0.795);
}

.texto1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.979);
}